<i class="fa fa-bars fa-2x menu-show"></i>

<!-- ################## LEFT MENU ################## -->

<div id="left-menu">
    <img class="header" src="https://raw.githubusercontent.com/lauraschultz/2491website/gh-pages/media/web-header.png" />
    <div class="sb-top"></div>
    <nav>
        <div class="sb-link">
            <ul class="fa-ul">
                <li><a href="{{ site.baseurl }}/#"><i class="fa-li fa fa-home"></i>&nbsp;home</a>
                </li>
            </ul>
        </div>
        <div class="sb-link">
            <ul class="fa-ul">
                <li><a href="{{ site.baseurl }}/#blog-highlights"><i class="fa-li fa fa-picture-o"></i>&nbsp;blog highlights</a>
                </li>
            </ul>
        </div>
        <div class="sb-link">
            <ul class="fa-ul">
                <li><a href="{{ site.baseurl }}/#meet-helios"><i class="fa-li fa fa-wrench"></i>&nbsp;meet helios</a>
                </li>
            </ul>
        </div>
        <div class="sb-link">
            <ul class="fa-ul">
                <li><a href="{{ site.baseurl }}/#what-is-first"><i class="fa-li fa fa-question"></i>&nbsp;what is FIRST?</a>
                </li>
            </ul>
        </div>
        <div class="sb-link">
            <ul class="fa-ul">
                <li><a href="{{ site.baseurl }}/#2016-events"><i class="fa-li fa fa-calendar"></i>&nbsp;2016 events</a>
                </li>
            </ul>
        </div>
        <div class="sb-link">
            <ul class="fa-ul">
                <li><a href="{{ site.baseurl }}/#team-sponsors"><i class="fa-li fa fa-money"></i>&nbsp;team sponsors</a>
                </li>
            </ul>
        </div>
        <div class="sb-link">
            <ul class="fa-ul">
                <li><a href="{{ site.baseurl }}/#contact-us"><i class="fa-li fa fa-phone"></i>&nbsp;contact us</a>
                </li>
            </ul>
        </div>
        <div class="sb-link">
            <ul class="fa-ul">
                <li><a href="{{ site.baseurl }}/resources"><i class="fa-li fa fa-users"></i>&nbsp;parent/student resources</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="social-icons-container">
        <div class="social-icons"> <a href="http://twitter.com" target="_blank"><i class="fa fa-3x fa-twitter-square t s"></i></a>
<a href="http://facebook.com" target="_blank"><i class="fa fa-3x fa-facebook-square f s"></i></a>
<a href="http://youtube.com" target="_blank"><i class="fa fa-3x fa-youtube-square y s"></i></a>

            <div id="end-text"><a href="/">legal</a> ・ <a href="/">sitemap</a>
            </div>
        </div>
    </div>
</div>